@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Nanum+Gothic+Coding&display=swap');

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

*{margin: 0;padding: 0;box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{color: inherit; text-decoration: none;}

.clear_fix::before, .clear_fix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    font-size: 14px;
    color: #444;
    font-family:'SUITE-Regular', 'Lexend';
}

img{vertical-align: top;}

table{border-collapse: collapse;}